.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border: 1px solid white;
  padding: 10px;
  margin: 10;
  border-radius: 10px;
  margin-bottom: 10px;
}
